#nextBtn{
    float: right;
    width: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
#time{
    display: inline;
    margin-left: 420px;
}
.card-header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;

}
.card-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: lighter;

}
.card{
    width: 800px;
    margin-top: 150px;
    margin-left: 300px;
}
.form-check-input{
    margin-left: 5px;
}
.form-check-label{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 25px;
}
